<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @profile.display_name %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @profile.img_url %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>Type:</strong>
  <%= @profile.type %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @profile.verified %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
