<p id="notice"><%= notice %></p>

<h1>Appeals</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Clinic</th>
      <th>Species</th>
      <th>Pet name</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appeals.each do |appeal| %>
      <tr>
        <td><%= appeal.user_id %></td>
        <td><%= appeal.clinic_id %></td>
        <td><%= appeal.species_id %></td>
        <td><%= appeal.pet_name %></td>
        <td><%= appeal.description %></td>
        <td><%= appeal.status %></td>
        <td><%= link_to 'Show', appeal %></td>
        <td><%= link_to 'Edit', edit_appeal_path(appeal) %></td>
        <td><%= link_to 'Destroy', appeal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appeal', new_appeal_path %>
